<% user = User.find(notification.from_user_id) %>
<% post = Post.find(notification.post_id) %>
<div id="notification-<%= notification.id %>">
  <div class="row section">
    <div class="col-md-4">
      <div><%= link_to post.title, post_path(post), class:"nofi_title" %></div>
    </div>
    <div class="col-md-7">
      <% if notification.variety == 1 %>
        <div class="notification-message">
          あなたの投稿が<%= link_to user.name, user_path(user) %>さんにお気に入り登録されました。
        </div>
        <div class="notifi_time">
          <%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
        </div>
      <% elsif notification.variety == 2 %>
        <div class="notification-message">
          あなたの投稿に<%= link_to user.name, user_path(user) %>さんがコメントしました。「<%= notification.content %>
        </div>
        <div class="notifi_time">
          <%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
