<% provide(:title, "プロフィール") %>
<div class="container">
  <div class="row">

    <div class="col-md-2 profile section">
      <div class="user-image-box">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class:"profile_show_img" %>
        <% else %>
          <%= image_tag "/assets/default.jpg", class:"profile_show_img" %>
        <% end %>
      </div>
      <h3 class="show-user-name"><%= @user.name %></h3>
      <% if @user.sex == 1 %>
        <h4 class="show-user-sex">男性</h4>
      <% else %>
        <h4 class="show-user-sex">女性</h4>
      <% end %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if current_user == @user %>
        <div class="account-edit user_syo">
          <%= link_to "プロフィール編集", edit_user_path(@user) %>
        </div>
      <% end %>
      <%= render 'follow_form' if logged_in? %>
    </div>

    <div class="col-md-9">
      <%= render partial: "show_posts", collection: @posts, as: :post  %>
    </div>

  </div>
</div>
