<% provide(:title, "プロフィール") %>
<div class="container zentai">
  <div class="row">

    <div class="col-md-3 profile section">
      <div class="user-image-box">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class:"profile_show_img" %>
        <% else %>
          <%= image_tag "/assets/default.jpg", class:"profile_show_img" %>
        <% end %>
      </div>
      <h3 class="show-user-name"><%= @user.name %></h3>
      <% if @user.sex == 1 %>
        <h4>男性</h4>
      <% else %>
        <h4>女性</h4>
      <% end %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if current_user == @user %>
        <div class="account-edit">
          <%= link_to "プロフィール編集", edit_user_path(@user) %>
        </div>
      <% end %>
      <%= render 'follow_form' if logged_in? %>
    </div>

    <div class="col-md-8">
      <% if @user.posts.any? %>
        <h3>投稿 <%= @user.posts.count %></h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>
  </div>
</div>
