<% @post = post  %>
<div id="post-<%= post.id %>">
  <div class="section profile">

    <span class="title"><%= link_to post.title, post_path(post) %></span><br>

    <span class="price">値段<%= post.price %></span>

    <span class="popularity">人気度<%= post.popularity %></span>

    <span class="content">詳細<%= post.content %></span>

    <span class="timestamp">
      <%= time_ago_in_words(post.created_at) %>前
    </span><br>

    <% if current_user.admin? || (current_user == post.user) %>
      <%= link_to "削除", post_path(post), method: :delete,data: {
        confirm: "本当に削除しますか？"
      } %>
    <% end %>

    <%= render 'users/favorite_form' %>

  </div>
</div>


