<% provide(:title, "#{@post.title}") %>
<div class="container-fluid zentai">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 section">
      <% @comments = @post.feed_comment(@post.id) %>

      <div class="change-post">
        <% if current_user == @post.user %>
          <div class="edit-post">
            <%= link_to "編集", edit_post_path(@post) %>
          </div>
        <% end %>
        <% if current_user.admin? || (current_user == @post.user) %>
          <div class="delete-post">
            <%= link_to "削除", post_path(@post), method: :delete, data: {
            confirm: "本当に削除しますか？"
            } %>
          </div>
        <% end %>
      </div>

      <h2 class="post-title">
        <%= @post.title %>のトイレ
      </h2>

      <div class="post-image">
        <% if @post.image? %>
          <%= image_tag @post.image.url, class:"show_posts_img" %>
        <% end %>
      </div>

      <div class="post-adress">
        <h3 class="post_show_h">住所</h3>
        <% if @post.adress? %>
          <h4><%= @post.adress %></h4>
        <% else %>
          <h4>無記名</h4>
        <% end %>
      </div>

      <div class="post-unnko">
        <h3 class="post_show_h">大便器の数</h3>
        <% if @post.unnko? %>
          <h4><%= @post.unnko %>個</h4>
        <% else %>
          <h4>無記名</h4>
        <% end %>
      </div>

      <div class="post-syoben">
        <h3 class="post_show_h">小便器の数</h3>
        <% if @post.syoben? %>
          <h4><%= @post.syoben %>個</h4>
        <% else %>
          <h4>無記名</h4>
        <% end %>
      </div>

      <div class="post-freeornot">
        <h3 class="post_show_h">お金がかかるのか</h3>
        <% if @post.freeornot == 1  %>
          <h4>無料</h4>
        <% else %>
          <h4>有料</h4>
        <% end %>
      </div>

      <div class="post-info">
        <h3 class="post_show_h">きれい度</h3>
        <% if @post.popularity? %>
          <h4><%= @post.popularity %></h4>
        <% else %>
          <h4>無記名</h4>
        <% end %>
      </div>

      <h4 class="post-content">
        <h3 class="post_show_h">メモ</h3>
        <% if @post.content? %>
          <h4><%= @post.content %></h4>
        <% else %>
          <h4>無記名</h4>
        <% end %>
      </h4>

      <div class="post_show_time"><%= time_ago_in_words(@post.created_at) %>前</div>
    </div>

    <div class="col-md-6 col-md-offset-3 under">
      <div><%= render 'users/favorite_form' %></div>
      <div class="comment">
        <%= render "comments/feed_comments" %>
        <%= render "comments/new" %>
      </div>
    </div>
  </div>
</div>

